<p-toolbar styleClass="shadow-md px-4">
  <ng-template pTemplate="start">
    <p-button
      icon="pi pi-bars"
      (click)="visible = true"
      [text]="true"
      severity="secondary"/>
    <span class="ml-3 font-bold text-lg">Mi Sistema</span>
  </ng-template>
</p-toolbar>

<p-drawer
  [(visible)]="visible"
  header="Menú"
  position="left"
  [modal]="true"
  [dismissible]="true"
  [showCloseIcon]="true">
  <app-sidebar></app-sidebar>
</p-drawer>

<div class="content">
  <router-outlet></router-outlet>
</div>